:root {
  --main-color: #2196f3;
  --whight-color: #ffffff;
  --black-color: #000000;
  --h3-color: #212121;
  --p-color: #757575;
  --footer-color: #2f303a;
  --hero-color: #c4c4c4;
  --card-set-gap: 30px;
  --icon-color: #afb1b8;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid red;*/
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*header-section*/
header {
  border-bottom: 1px solid #ececec;
}
.page-header {
  display: flex;
  align-items: center;
}
.naw-header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.naw-button {
  display: flex;
  margin-left: 93px;
  align-items: center;
}
.header-nav-item .current-studio::after {
  position: absolute;
  content: "";
  display: block;
  background-color: rgba(33, 150, 243, 1);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  margin-top: 28px;
}
.header-nav-item .current-portfolio::after {
  position: absolute;
  content: "";
  display: block;
  background-color: rgba(33, 150, 243, 1);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  margin-top: 28px;
}
.envelope,
.smartphone {
  margin-right: 10px;
}

.naw-contacts {
  display: flex;
  margin-left: 344px;
  align-items: center;
  margin-left: auto;
}
.header-cont-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 50px;
}
.header-cont-item + .header-cont-item {
  margin-left: 50px;
}
/*header-section*/
/*hero-section*/
.banner-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: var(--whight-color);
}
.banner-button {
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0cm;
  color: var(--whight-color);
  background-color: var(--main-color);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  padding: 10px 32px;
  cursor: pointer;
  transition: background-color 250ms var(--transition-timing-function);
}
/*hero-section*/
/*why-we-are-section*/
.why-we-are-list {
  display: flex;
  justify-content: center;
}
.why-we-are-list > .why-we-are-list-item {
  width: calc((100% - 3 * var(--card-set-gap)) / 4);
}
.why-we-are-list-item:not(:last-child) {
  margin-right: var(--card-set-gap);
}
.box-icons {
  display: flex;
  margin-bottom: 55px;
  background-color: #f5f4fa;
  height: 120px;
  align-items: center;
}
.title-list {
  margin-bottom: 10px;
}
/*why-we-are-section*/
/* do-section*/

.do-list {
  display: flex;
  gap: var(--card-set-gap);
}
.do-list-item {
  position: relative;
}
.section.what-we-do {
  padding-top: 0;
}
.work-item-bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.work-item-title {
  margin: 27px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 16px;
  color: var(--whight-color);
}
/* do-section*/
/*team-section*/
.card-item {
  display: flex;
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.container > .card-list {
  display: flex;
  flex-basis: calc((100% - 3 * 30px) / 4);
  justify-content: space-between;
}
.card {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title-card {
  padding-bottom: 10px;
}
.social {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.link-social {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--whight-color);
  justify-content: center;
  align-items: center;
  transition: fill 250ms var(--transition-timing-function);
  transition: background-color 250ms var(--transition-timing-function);
}
.icon-social:not(:last-child) {
  margin-right: 10px;
}
.social-logo {
  fill: #afb1b8;
  margin: 12px 12px;
}
.link-social:hover,
.link-social:focus {
  background-color: var(--main-color);
}
.link-social:hover .social-logo,
.link-social:focus .social-logo {
  fill: var(--whight-color);
}
/*team-section*/
/*client-section*/
.clients-list {
  display: flex;
  gap: 30px;
}

.clients-list .item {
  flex-basis: calc((100% - 150px) / 6);
}
.link-clients {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 92px;

  border: 1px solid rgba(175, 177, 184, 1);
  border: 1px solid #afb1b8;
  border-radius: 4px;

  cursor: pointer;
  transition: fill 250ms var(--transition-timing-function);
  transition: border 250ms var(--transition-timing-function);
}
.link-clients:hover,
.link-clients:focus {
  border: 1px solid rgba(33, 150, 243, 1);
}
.clients-icon {
  fill: #afb1b8;
}
.link-clients:hover .clients-icon,
.link-clients:focus .clients-icon {
  fill: rgba(33, 150, 243, 1);
}
/*client-section*/
/*footer-section*/
.footer-bg {
  padding: 60px 0;
  display: flex;
}
.footer-list-item:first-child {
  margin-top: 20px;
}
.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.singin {
  margin-bottom: 20px;
  color: var(--whight-color);
  text-transform: uppercase;
  font-size: 14px;
}
.sing-section {
  margin-left: 70px;
}

.singin-list {
  display: flex;
}
.singin-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  flex-basis: calc((100% - 30px) / 4);
  transition: fill 250ms var(--transition-timing-function);
  transition: background-color 250ms var(--transition-timing-function);
}
.singin-logo:not(:last-child) {
  margin-right: 10px;
}
.singin-icon {
  fill: var(--whight-color);
  margin: 12px 12px;
}
.singin-link:hover,
.singin-link:focus {
  background-color: #2196f3;
}
.singin-link:hover .singin-icon,
.singin-link:focus .singin-icon {
  fill: var(--whight-color);
}
.foot .container {
  display: flex;
  align-items: baseline;
}
.footer-cont {
  display: flex;
  align-items: baseline;
}
/*footer-section*/
/*filter-section*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter li:not(:last-child) {
  margin-right: 8px;
}
/*filter-section*/
/*фон*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--h3-color);
  background-color: var(--whight-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--p-color);
}
.footer-bg {
  background-color: var(--footer-color);
}
li {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*logo*/
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
  color: var(--black-color);
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
  color: var(--whight-color);
}
.logo-part {
  color: #2196f3;
}
/*nav*/
.naw-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", sans-serif;
  color: var(--h3-color);
  transition: color 250ms var(--transition-timing-function);
}
.naw-link:hover,
.naw-link:focus,
.naw-link.current-studio,
.naw-link.current-portfolio {
  color: var(--main-color);
}
.contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--p-color);
  fill: var(--p-color);
  transition: color 250ms var(--transition-timing-function);
}
.contacts svg {
  transition: fill 250ms var(--transition-timing-function);
}
.contacts:hover,
.contacts:focus {
  color: var(--main-color);
}
.contacts:hover svg,
.contacts:focus svg {
  fill: var(--main-color);
}
/*title*/
.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  color: var(--h3-color);
}
/*section1*/
.banner {
  background-color: var(--hero-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  width: 1600px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}

.banner-button:hover,
.banner-button:focus {
  background-color: #188ce8;
}
/*чому саме ми*/
.why-we-are h3 {
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  color: var(--h3-color);
}

.why-we-are p {
  font-size: 14px;
  line-height: 1.71;
}
/*team*/
.team {
  background-color: #f5f4fa;
}
.team h3 {
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  font-size: 16px;
  color: var(--h3-color);
}
.team p {
  line-height: 1.18;
  text-align: center;
}
/*footer*/
.map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: var(--whight-color);
}
.contacts-footer {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--transition-timing-function);
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--main-color);
}
/*portfolio*/
.project-card h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h3-color);
}

.project-card p {
  line-height: 1.875;
}
.project-card a {
  text-decoration: none;
}
.description {
  color: var(--p-color);
  text-decoration: none;
}
.description-title {
  color: var(--h3-color);
}
.cards-link {
  display: block;
  transition: box-shadow 250ms var(--transition-timing-function);
}
.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*кнопки фільтру*/
.filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  cursor: pointer;
  color: var(--h3-color);
  font-family: "Roboto", sans-serif;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms var(--transition-timing-function);
  transition: background-color 250ms var(--transition-timing-function);
}
/*card-gap*/
.project-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.project-card > .card-li {
  flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
  justify-content: space-between;
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
.card-item-cont {
  padding: 20px 24px;
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}
/*card-gap*/
.filter-button:focus,
.filter-button:hover {
  background: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--whight-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 500ms ease, visibility 500ms ease;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: rgb(255, 255, 255);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
}
.overlay-card {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.card-info {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--whight-color);
  top: 0px;
  left: 0px;
  padding: 63px 24px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.cards-link-overflow:hover .card-info,
.cards-link-overflow:focus .card-info {
  transform: translateY(0%);
}
