:root {
  --main-color: #2196f3;
  --whight-color: #ffffff;
  --black-color: #000000;
  --h3-color: #212121;
  --p-color: #757575;
  --footer-color: #2f303a;
  --card-set-gap: 30px;
}
html {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid red;*/
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*header-section*/
header {
  border-bottom: 1px solid #ececec;
}
.page-header {
  display: flex;
  align-items: center;
}
.naw-header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.naw-button {
  display: flex;
  margin-left: 93px;
  align-items: center;
}
.naw-contacts {
  display: flex;
  margin-left: 344px;
  align-items: center;
  margin-left: auto;
}
.header-nav-item:not(:last-child) {
  margin-right: 50px;
}
.header-cont-item + .header-cont-item {
  margin-left: 50px;
}
/*header-section*/
/*hero-section*/
.banner-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;

  text-transform: uppercase;
  color: var(--whight-color);
}
.banner-button {
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0cm;
  color: var(--whight-color);
  background-color: var(--main-color);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  padding: 10px 32px;
}
/*hero-section*/
/*why-we-are-section*/
.why-we-are-list {
  display: flex;
}
.why-we-are-list > .why-we-are-list-item {
  margin-right: calc(-1 * var(--card-set-gap));
  flex-basis: calc((100% - 3 * var(--card-set-gap)) / 4);
}
.why-we-are-list-item:not(:last-child) {
  margin-right: var(--card-set-gap);
}
.title-list {
  margin-bottom: 10px;
}
/*why-we-are-section*/
/* do-section*/

.do-list {
  display: flex;
  gap: var(--card-set-gap);
}
.section.what-we-do {
  padding-top: 0;
}
/* do-section*/
/*team-section*/
.card-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.container > .card-list {
  display: flex;
  flex-basis: calc((100% - 3 * 30px) / 4);
  justify-content: space-between;
}
.card {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title-card {
  padding-bottom: 10px;
}
/*team-section*/
/*footer-section*/
.footer-bg {
  padding: 60px 0;
}
.footer-list-item:first-child {
  margin-top: 20px;
}
.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}
/*footer-section*/
/*filter-section*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter li:not(:last-child) {
  margin-right: 8px;
}
/*filter-section*/
/*фон*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--h3-color);
  background-color: var(--whight-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--p-color);
}
.footer-bg {
  background-color: var(--footer-color);
}
li {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*logo*/
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
  color: var(--black-color);
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
  color: var(--whight-color);
}
.logo-part {
  color: #2196f3;
}
/*nav*/
.naw-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", sans-serif;
  color: var(--h3-color);
}
.naw-link:hover,
.naw-link:focus,
.naw-link.current {
  color: var(--main-color);
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}
.contacts:hover,
.contacts:focus {
  color: var(--main-color);
}
/*title*/
.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  color: var(--h3-color);
}
/*section1*/
.banner {
  background-color: var(--footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.banner button:hover,
.banner button:focus {
  background: #188ce8;
}
/*чому саме ми*/
.why-we-are h3 {
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  color: var(--h3-color);
}

.why-we-are p {
  font-size: 14px;
  line-height: 1.71;
}
/*team*/
.team {
  background-color: #f5f4fa;
}
.team h3 {
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  font-size: 16px;
  color: var(--h3-color);
}
.team p {
  line-height: 1.18;
  text-align: center;
}
/*footer*/
.map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: var(--whight-color);
}
.contacts-footer {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--main-color);
}
/*portfolio*/
.project-card h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h3-color);
}
.project-card p {
  line-height: 1.875;
}
/*кнопки фільтру*/
.filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  cursor: pointer;
  color: var(--h3-color);
  font-family: "Roboto", sans-serif;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
}
/*card-gap*/
.project-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.project-card > .card-li {
  flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
  justify-content: space-between;
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
.card-item-cont {
  padding: 20px 24px;
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}
/*card-gap*/
.filter-button:focus,
.filter-button:hover {
  background: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--whight-color);
}
