.hero {
  background-color: var(--hero-color);
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/Hero-s.jpg");

  @include mq(retina) {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/Hero-s@2x.jpg");
  }

  @include mq(tablet) {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/Hero-m.jpg");

    @include mq(retina) {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/Hero-m@2x.jpg");
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/Hero-l.jpg");
    padding: 200px 0;

    @include mq(retina) {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/Hero-l@2x.jpg");
    }
  }
  width: 1600px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__button {
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0cm;
  color: var(--whight-color);
  background-color: var(--main-color);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  padding: 10px 32px;
  cursor: pointer;
  transition: background-color 250ms var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: var(--whight-color);
}
