.menu__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
  color: var(--black-color);
}
.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
  color: var(--whight-color);
}
.menu__logo--part {
  color: #2196f3;
}
