header {
  border-bottom: 1px solid #ececec;
}
.page-header {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--p-color);
  fill: var(--p-color);
}
.contact svg {
  transition: fill 250ms var(--transition-timing-function);
}
.contact {
  display: flex;
  margin-left: 344px;
  align-items: center;
  margin-left: auto;
}
.contact__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: color 250ms var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--main-color);
  }
  &:hover svg,
  &:focus svg {
    fill: var(--main-color);
  }
}
.contact__item + .contact__item {
  margin-left: 50px;
}

.contact__icon {
  margin-right: 10px;
}
