html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $fontPrimary;
  letter-spacing: 0.03em;
  background-color: var(--whight-color);
  color: var(--p-color);
}
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.link {
  text-decoration: none;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
address {
  font-style: normal;
}
button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  border: 1px solid transparent;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.mobile-menu__container {
  position: relative;
  max-width: 450px;
  height: 100%;
  padding: 48px 40px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.centered {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0000);
  clip-path: inset(50%);
  margin: -1px;
}
